[DB1LAB01]

Description = lab connection
Driver = PostgreSQL Unicode
Trace = Yes
TraceFile = /tmp/odbc.logs
Database = u9zaczyk
Username = u9zaczyk
Password = 9zaczyk
Server = localhost
Port = 5432
Socket = 